body
{
  margin: 0;
  padding: 0;
  background-image: url(images.jpg);
  background-size: cover;
}
.box
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 300px;
  background-image: url(img.jpg);
  background-size: cover;
}
.box::before,
.box::after
{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  background: url(img.jpg);
  background-size: cover;
  filter: grayscale(100%);
  transition: 1s;
}
.box::before
{
  top: 0;
  transform-origin: top;
  transform: perspective(500px) rotate(0deg);
  background-position: 0 0;
}
.box::after
{
  bottom: 0;
  transform-origin: bottom;
  transform: perspective(500px) rotate(0deg);
  background-position: 0 100%;

}
.box:hover::before
{
  transform: perspective(500px) rotateX(270deg);
}
.box:hover::after
{
  transform: perspective(500px) rotateX(-270deg);
}